{% extends 'layouts/base.html' %} 

{% load static %}

{% block body %}

<section id="home" class="cover">
  <p class="lead">Kalem, idealis, suka begadang</p>
  <h1 class="cover-heading">
    Unique person, with all his question about the world
  </h1>
  <p class="lead mt-4">
    <a class="btn btn-lg btn-secondary" href="/#about">About Me</a>
  </p>
</section>

<section id="about" class="mb-5">
  <div class="jumbotron mb-5">
    <div class="container">
      <img
        src="{% static 'assets/fotoProfil.jpeg' %}"
        alt="foto-Profil"
        class="mx-auto col-md-6 mb-3 rounded-circle"
      />
      <h1 class="display-3">
        Hello, my name is <span class="highlight">Habib</span>ullah Akbar!
      </h1>
      <h3>but you can call me <span class="highlight">Habib</span></h3>
      <br />
      <p>
        🙌 I am a Software Engineer from Indonesia. Having expertise in coding
        websites 👨‍💻 and design graphics 🎨. Currently, I'm pursuing my
        undergrads 👨‍🎓 in Information System at<!-- -->
        <span class="highlight"
          >Faculty of Computer Science, University of Indonesia.</span
        >
      </p>
      <p>
        I am a person who is quick to learn things and able to work under
        pressure. I have a high level of interest and passion in the fields of<!-- -->
        <span class="highlight">science 👨‍🔬 and technology 🚀. </span>My life
        motto is "talk less 🤐, do more 💪".
      </p>
      <p></p>
      <a
        href="https://drive.google.com/file/d/1Ov1aT7n4csNRiDYy-ZApmYercbCJPZ1F/view?usp=sharing"
        rel="noreferrer"
        target="_blank"
        class="btn btn-secondary"
        >Get my Resume</a
      >
    </div>
  </div>

  <h2 class="mb-4">My Skills :</h2>

  <div class="container-bar"><div class="skills html">90%</div></div>
  <p class="text-left mb-4">HTML / CSS</p>
  <div class="container-bar"><div class="skills javascript">90%</div></div>
  <p class="text-left mb-4">Javascript / ReactJS / GatsbyJS / NextJS</p>
  <div class="container-bar"><div class="skills node">80%</div></div>
  <p class="text-left mb-4">NodeJS / Express</p>
  <div class="container-bar"><div class="skills python">80%</div></div>
  <p class="text-left mb-4">Python / Django</p>
  <div class="container-bar"><div class="skills database">80%</div></div>
  <p class="text-left mb-4">Database / PostgreSQL / MySQL / MongoDB</p>
  <div class="container-bar"><div class="skills java">80%</div></div>
  <p class="text-left mb-4">Java / Data Structure / Algorithm</p>
  <div class="container-bar"><div class="skills design">85%</div></div>
  <p class="text-left mb-4">Design Graphics</p>

  <h1 class="mb-4">My Timeline</h1>

  <div class="timeline">
    <div class="container-timeline">
      <div class="content">
        <h2 class="highlight">Jan 2021 - Now</h2>
        <div class="btn badge mb-2">Work</div>
        <p>Work as a frontend developer intern at Pabryk</p>
      </div>
    </div>
    <div class="container-timeline">
      <div class="content">
        <h2 class="highlight">Nov 2020 - Dec 2020</h2>
        <div class="btn badge mb-2">Work</div>
        <p>Work as a social media strategist intern at Skydu Academy</p>
      </div>
    </div>
    <div class="container-timeline">
      <div class="content">
        <h2 class="highlight">March 2020 - May 2020</h2>
        <div class="btn badge mb-2">Volunteer</div>
        <p>Volunteer as staff of research study department, BEM UI 2020</p>
      </div>
    </div>
    <div class="container-timeline">
      <div class="content">
        <h2 class="highlight">Feb 2019 - Dec 2019</h2>
        <div class="btn badge mb-2">Volunteer</div>
        <p>
          Volunteer as staff of propaganda and action department, BEM UI 2019
        </p>
      </div>
    </div>
    <div class="container-timeline">
      <div class="content">
        <h2 class="highlight">July 2018</h2>
        <div class="btn badge mb-2">Edu</div>
        <p>
          Accepted as a student at the faculty of computer science, University
          of Indonesia
        </p>
      </div>
    </div>
    <div class="container-timeline">
      <div class="content">
        <h2 class="highlight">May 2018</h2>
        <div class="btn badge mb-2">Edu</div>
        <p>
          Graduated from SMART Ekselensia Indonesia Senior High School in 2
          years, Acceleration Program
        </p>
      </div>
    </div>
    <div class="container-timeline">
      <div class="content">
        <h2 class="highlight">April 2018</h2>
        <div class="btn badge mb-2">Achievment</div>
        <p>Got perfect score in senior high school mathematics national exam</p>
      </div>
    </div>
    <div class="container-timeline">
      <div class="content">
        <h2 class="highlight">Oct 2017</h2>
        <div class="btn badge mb-2">Award</div>
        <p>UIN Jakarta Physics Olympiad, 1st Place</p>
      </div>
    </div>
    <div class="container-timeline">
      <div class="content">
        <h2 class="highlight">March 2017</h2>
        <div class="btn badge mb-2">Award</div>
        <p>OSN Computer, 1st place at Bogor Regency level</p>
      </div>
    </div>
    <div class="container-timeline">
      <div class="content">
        <h2 class="highlight">June 2016</h2>
        <div class="btn badge mb-2">Edu</div>
        <p>Graduated from SMART Ekselensia Indonesia Junior High School</p>
      </div>
    </div>
    <div class="container-timeline">
      <div class="content">
        <h2 class="highlight">May 2016</h2>
        <div class="btn badge mb-2">Achievment</div>
        <p>Got perfect score in junior high school mathematics national exam</p>
      </div>
    </div>
    <div class="container-timeline">
      <div class="content">
        <h2 class="highlight">May 2013</h2>
        <div class="btn badge mb-2">Achievment</div>
        <p>Got perfect score in elementary school mathematics national exam</p>
      </div>
    </div>
  </div>
</section>

<section id="projects">
  <h2>My Several Projects:</h2>
  <div class="row justify-content-center">
    <div class="card p-0 m-2 w-100">
      <div class="row no-gutters">
        <div class="col-md-8">
          <img src="{% static 'assets/pdharapanjaya.png' %}" class="card-img" />
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <h5 class="card-title">PD Harapan Jaya</h5>
            <p class="card-text">
              This is simple landing page for PD Harapan Jaya.
            </p>
            <a
              href="https://pdharapanjayatangerang.com/"
              class="btn btn-secondary"
              rel="noreferrer"
              target="_blank"
              >Visit</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="card p-0 m-2 w-100">
      <div class="row no-gutters">
        <div class="col-md-8">
          <img src="{% static 'assets/chavyvblog.png' %}" class="card-img" />
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <h5 class="card-title">Chavyv Blog</h5>
            <p class="card-text">
              This is my blog for share something about my life or random
              thoughts.
            </p>
            <a
              href="https://blog.chavyv.xyz/"
              class="btn btn-secondary"
              rel="noreferrer"
              target="_blank"
              >Visit</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="card p-0 m-2 w-100">
      <div class="row no-gutters">
        <div class="col-md-8">
          <img src="{% static 'assets/memorygame.png' %}" class="card-img" />
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <h5 class="card-title">Memory Game</h5>
            <p class="card-text">
              This is a simple memory game built with React.
            </p>
            <a
              href="https://kind-haibt-e00960.netlify.app/"
              class="btn btn-secondary"
              rel="noreferrer"
              target="_blank"
              >Visit</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="card p-0 m-2 w-100">
      <div class="row no-gutters">
        <div class="col-md-8">
          <img src="{% static 'assets/hejokeun.png' %}" class="card-img" />
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <h5 class="card-title">Hejokeun.id</h5>
            <p class="card-text">
              This is an educational blog for environmental issues.
            </p>
            <a
              href="https://fleadsasean.firebaseapp.com/"
              class="btn btn-secondary"
              rel="noreferrer"
              target="_blank"
              >Visit</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contacts" class="mt-5">
  <h2>You can reach me with:</h2>
  <div class="contact-icon">
    <a href="mailto:akbar2habibulah@gmail.com" rel="noreferrer" target="_blank"
      ><i class="far fa-envelope fa-3x"></i></a
    ><a
      href="https://instagram.com/chavyv.akvar"
      rel="noreferrer"
      target="_blank"
      ><i class="fab fa-instagram fa-3x"></i></a
    ><a href="https://twitter.com/ChavyvAkvar" rel="noreferrer" target="_blank"
      ><i class="fab fa-twitter fa-3x"></i></a
    ><a
      href="https://www.linkedin.com/in/habibullah-akbar-631880179/"
      rel="noreferrer"
      target="_blank"
      ><i class="fab fa-linkedin-in fa-3x"></i></a
    ><a
      href="https://github.com/akbar2habibullah"
      rel="noreferrer"
      target="_blank"
      ><i class="fab fa-github fa-3x"></i></a
    ><a
      href="https://gitlab.com/akbar2habibullah"
      rel="noreferrer"
      target="_blank"
      ><i class="fab fa-gitlab fa-3x"></i
    ></a>
  </div>
</section>

{% endblock body %}
