{% extends 'layouts/base.html' %}

{% block body %}

<div class="row mt-5">
    <div class="col-12 col-md-6 col-lg-4 my-2">
        <div class="card p-2">
            <div class="card-title">
                <h3><a href="{% url 'lab_1:index' %}">Story 1</a></h3>
            </div>
            <div class="card-body">
                Tugas story 1
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 my-2">
        <div class="card p-2">
            <div class="card-title">
                <h3><a href="{% url 'lab_2:index' %}">Story 2</a></h3>
            </div>
            <div class="card-body">
                Tugas story 2
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 my-2">
        <div class="card p-2">
            <div class="card-title">
                <h3><a href="{% url 'lab_3:index' %}">Story 3</a></h3>
            </div>
            <div class="card-body">
                Tugas story 3
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 my-2">
        <div class="card p-2">
            <div class="card-title">
                <h3><a href="{% url 'lab_4:index' %}">Story 4</a></h3>
            </div>
            <div class="card-body">
                Tugas story 4
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 my-2">
        <div class="card p-2">
            <div class="card-title">
                <h3><a href="{% url 'lab_5:index' %}">Story 5</a></h3>
            </div>
            <div class="card-body">
                Tugas story 5
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 my-2">
        <div class="card p-2">
            <div class="card-title">
                <h3><a href="#">Story 6</a></h3>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 my-2">
        <div class="card p-2">
            <div class="card-title">
                <h3><a href="{% url 'lab_7:index' %}">Story 7</a></h3>
            </div>
            <div class="card-body">
                Tugas story 7
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 my-2">
        <div class="card p-2">
            <div class="card-title">
                <h3><a href="{% url 'lab_8:index' %}">Story 8</a></h3>
            </div>
            <div class="card-body">
                Tugas story 8
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 my-2">
        <div class="card p-2">
            <div class="card-title">
                <h3><a href="{% url 'lab_9:index' %}">Story 9</a></h3>
            </div>
            <div class="card-body">
                Tugas story 9
            </div>
        </div>
    </div>
</div>

{% endblock body %}
