{% extends 'layouts/base.html' %}

{% block body %}

<h3 class="my-5">Link for:</h3>
<p></p><a href="https://wireframe.cc/IAVzCN">Wireframe</a></p>
<p><a href="https://www.figma.com/file/LhA80Y2LfnvU6sYWgagWqp/PPW-chavyv?node-id=0%3A1">Prototype</a></p>

{% endblock %}