{% extends 'layouts/base.html' %}

{% block body %}

<h3 class="mt-5 textSecondaryDark text-center font-weight-bold">Selamat datang, {{ username }}</h3>
<span><a href="{% url 'lab_9:logout' %}" class="btn btn-secondary mt-3 text-center">Logout</a></span>


{% endblock %}
