{% extends 'layouts/base.html' %}

{% load crispy_forms_tags %}

{% block body %}
<div class="card card-body text-left mx-auto my-5" style="width: 28rem;">
  <h3 class="textSecondaryDark font-weight-bold text-center">Login</h3>
  <form class="mt-3" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-secondary w-100 mt-3">
      Submit
    </button>
  </form>
  <p class="text-center mt-3">Already have an account? <a href="{% url 'lab_9:login' %}" class="textSecondaryDark">Login</a></p>
</div>
{% endblock body %}
