{% extends 'layouts/base.html' %} 

{% block body %}

<h1 class="mt-5"><strong>Google Books!</strong></h1>

<div class="input-group my-5">
  <input
    type="text"
    id="input-title"
    class="form-control"
    placeholder="Enter Title"
    aria-label="Enter Title"
    aria-describedby="button-addon"
  />
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon">
      Search
    </button>
  </div>
</div>

<div class="row" id="data-books">

</div>

{% endblock %}
