@media screen and (min-width: 48em) {
  .header-brand {
    float: left;
  }
  .nav-header {
    float: right;
  }
}

@media screen and (max-width: 600px) {
  .display-3 {
    font-size: 15vw;
  }

  .timeline::after {
    left: 31px;
  }

  .container-timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container-timeline::before {
    left: 60px !important;
    border: medium solid white !important;
    border-width: 10px 10px 10px 0 !important;
    border-color: transparent white transparent transparent !important;
  }

  .dark-mode .container-timeline:before {
    border-color: transparent #444 transparent transparent !important;
  }

  .container-timeline:nth-child(2n + 1)::after,
  .container-timeline:nth-child(2n)::after {
    left: 18px;
  }

  .container-timeline:nth-child(2n) {
    left: 0%;
  }
}
