* {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: var(--secondary-dark-color);
  cursor: pointer;
}

.btn-secondary {
  color: var(--main-light-color);
  background-color: var(--secondary-dark-color);
  border: 0.05rem solid var(--secondary-dark-color);
}

.btn-secondary:hover {
  color: var(--secondary-dark-color);
  background-color: var(--main-light-color);
  border: none;
}

#dark-mode-btn {
  position: fixed;
  right: 0;
  z-index: 1;
}

#dark-mode-btn:hover {
  transform: rotate(-15deg) scale(1.1, 1.1);
  color: var(--secondary-dark-color);
  cursor: pointer;
}

.dark-mode #dark-mode-btn:hover {
  transform: rotate(-15deg) scale(1.1, 1.1);
  color: var(--secondary-light-color);
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background-color: var(--main-light-color);
  overflow-x: hidden;
}

body {
  display: flex;
  color: var(--main-dark-color);
  transition: 0.5s;
}

.dark-mode {
  --main-dark-color: #f7fff7;
  --main-light-color: #333;
  --main-secondary-color: #444;
  transition: 0.3s;
}

.dark-mode .jumbotron,
.dark-mode .content {
  background-color: #444;
}

.dark-mode .container-timeline:nth-child(2n + 1):before {
  border-color: transparent transparent transparent #444;
}

.dark-mode .container-timeline:nth-child(2n):before {
  border-color: transparent #444 transparent transparent !important;
}

.jumbotron h1 {
  font-weight: 300;
}

.dark-mode .top-line {
  background-color: var(--secondary-dark-color);
}

.cover-container {
  max-width: 42em;
}

.cover-heading {
  font-weight: bold;
}

.header {
  margin-bottom: 2rem;
}

.header-brand {
  margin-bottom: 0;
}

.badge {
  background-color: rgb(40, 167, 69);
  color: white;
}

.badge:hover {
  color: white;
}

.nav-header .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: var(--secondary-dark-color);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-header .nav-link:hover {
  border-bottom-color: var(--secondary-light-color);
}

.nav-header .nav-link + .nav-link {
  margin-left: 1rem;
}

.sub {
  background-color: var(--secondary-light-color);
  position: absolute;
  width: 10rem;
  z-index: 0;
  margin-top: 1.25rem;
  margin-left: 2rem;
  height: 1.2rem;
}

.dark-mode .sub {
  background-color: var(--secondary-dark-color);
}

.title {
  z-index: 10;
  position: absolute;
}

.space {
  height: 4rem;
}

#home {
  margin-top: 10em;
  margin-bottom: 10em;
}

.highlight {
  color: var(--secondary-dark-color);
}

.top-line {
  position: absolute;
  left: 0;
  top: 0;
  height: 3px;
  width: 100vw;
  background-color: var(--secondary-light-color);
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

.footer {
  color: var(--main-dark-color);
}

.card {
  background-color: var(--main-light-color);
  border: 0.05rem solid var(--main-secondary-color);
}

.not-found {
  height: 80vh;
  align-items: center;
}

.not-found h1 {
  font-size: 4rem;
  font-weight: bold;
}

.not-found h3 {
  font-size: 2rem;
}

.not-found p {
  font-weight: 300;
}

.contact-icon {
  display: block;
  margin: 1rem auto;
  text-align: center;
}

.contact-icon a {
  width: 48px;
  height: 48px;
  margin: 15px 25px;
  display: inline-block;
}

.contact-icon a:hover {
  color: var(--main-dark-color);
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container-timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: white;
  border: 4px solid var(--secondary-dark-color);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.container-timeline:nth-child(2n + 1) {
  left: 0;
}

.container-timeline:nth-child(2n) {
  left: 50%;
}

.container-timeline:nth-child(2n + 1)::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.container-timeline:nth-child(2n)::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.container-timeline:nth-child(2n)::after {
  left: -13px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.container-bar {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
}

.html {
  width: 90%;
  background-color: #ef476f;
}
.javascript {
  width: 90%;
  background-color: #ffd166;
}
.node {
  width: 80%;
  background-color: #06d6a0;
}
.python {
  width: 80%;
  background-color: #118ab2;
}
.database {
  width: 80%;
  background-color: #073b4c;
}
.java {
  width: 80%;
  background-color: #596475;
}
.design {
  width: 85%;
  background-color: #9297c4;
}

.textSecondaryDark {
  color: var(--secondary-dark-color)!important;
}
