{% extends 'layouts/base.html' %} {% block body %}

<h3 class="my-4">Accordion</h3>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div
      class="card-header d-flex justify-content-between align-items-center"
      id="headingOne"
    >
      <h2 class="mb-0 order-1">
        <button
          class="btn btn-link"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          Work as a frontend developer intern at Pabryk
        </button>
      </h2>
      <div class="d-flex flex-row mb-0 order-2">
        <i class="down fas fa-arrow-circle-down"></i>
        <i class="ml-2 up fas fa-arrow-circle-up"></i>
      </div>
    </div>

    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        Worked in Agile-driven environment to effectively maintain project
        timelines and utilize available resources. Produced websites compatible
        with multiple browsers.
      </div>
    </div>
  </div>
  <div class="card">
    <div
      class="card-header d-flex justify-content-between align-items-center"
      id="headingTwo"
    >
      <h2 class="mb-0 order-1">
        <button
          class="btn btn-link collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Work as a social media strategist intern at Skydu Academy
        </button>
      </h2>
      <div class="d-flex flex-row mb-0 order-2">
        <i class="down fas fa-arrow-circle-down"></i>
        <i class="ml-2 up fas fa-arrow-circle-up"></i>
      </div>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        Curated and segmented editorial content to increase engagement and
        channel growth. Increased customer engagement through social media.
      </div>
    </div>
  </div>
  <div class="card">
    <div
      class="card-header d-flex justify-content-between align-items-center"
      id="headingThree"
    >
      <h2 class="mb-0 order-1">
        <button
          class="btn btn-link collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Volunteer as staff of research study department, BEM UI 2020
        </button>
      </h2>
      <div class="d-flex flex-row mb-0 order-2">
        <i class="down fas fa-arrow-circle-down"></i>
        <i class="ml-2 up fas fa-arrow-circle-up"></i>
      </div>
    </div>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div
      class="card-header d-flex justify-content-between align-items-center"
      id="headingFour"
    >
      <h2 class="mb-0 order-1">
        <button
          class="btn btn-link collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Volunteer as staff of propaganda and action department, BEM UI 2019
        </button>
      </h2>
      <div class="d-flex flex-row mb-0 order-2">
        <i class="down fas fa-arrow-circle-down"></i>
        <i class="ml-2 up fas fa-arrow-circle-up"></i>
      </div>
    </div>
    <div
      id="collapseFour"
      class="collapse"
      aria-labelledby="headingFour"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div
      class="card-header d-flex justify-content-between align-items-center"
      id="headingFive"
    >
      <h2 class="mb-0 order-1">
        <button
          class="btn btn-link collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Accepted as a student at Fasilkom UI
        </button>
      </h2>
      <div class="d-flex flex-row mb-0 order-2">
        <i class="down fas fa-arrow-circle-down"></i>
        <i class="ml-2 up fas fa-arrow-circle-up"></i>
      </div>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        Enrolled since Sept. 2018 to present Taking up major in Information
        System
      </div>
    </div>
  </div>
  <div class="card">
    <div
      class="card-header d-flex justify-content-between align-items-center"
      id="headingSix"
    >
      <h2 class="mb-0 order-1">
        <button
          class="btn btn-link collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseSix"
          aria-expanded="false"
          aria-controls="collapseSix"
        >
          Graduated from SMART Ekselensia Indonesia Senior High School
        </button>
      </h2>
      <div class="d-flex flex-row mb-0 order-2">
        <i class="down fas fa-arrow-circle-down"></i>
        <i class="ml-2 up fas fa-arrow-circle-up"></i>
      </div>
    </div>
    <div
      id="collapseSix"
      class="collapse"
      aria-labelledby="headingSix"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        Attended from July 2016 to May 2018. Graduated in 2 years (Acceleration
        Program).
      </div>
    </div>
  </div>
</div>

{% endblock %}
