{% extends 'layouts/base.html' %}

{% load static %}

{% block body %}

<div class="card card-body text-left mx-auto my-5" style="width: 18rem;">
    <img src="{% static 'assets/fotoProfil.jpeg' %}" alt="foto profil" class="rounded-circle col-8 mx-auto mb-3">
    <h3>Nama:</h3>
    <p>Habibullah Akbar</p>
    <h3>NPM:</h3>
    <p>1806191351</p>
    <h3>Angkatan:</h3>
    <p>2018</p>
    <h3>Hobi:</h3>
    <p>Rebahan</p>
    <h3>Deskripsi:</h3>
    <p>Kalem, idealis, suka begadang</p>
    <h3>Tempat Kuliah:</h3>
    <p>Pacil</p>
    <h3>Pendidikan:</h3>
    <p>S1 on-going</p>
    <h3>Medsos:</h3>
    <p>@chavyv.akvar</p>
</div>

{% endblock %}