<footer class="footer mt-5">
    <p>
        Made with <a href="https://getbootstrap.com/">Bootstrap</a> & <a href="https://www.djangoproject.com/">Django</a>, Hosted in <a href="https://www.heroku.com/">Heroku</a>, Source available on <a href="https://gitlab.com/akbar2habibullah/ppw-chavyv">GitLab</a><br/>
        Copyright &copy; 2021 Chavyv Akvar. All Rights Reserved 
    </p>
</footer>