<header class="header mb-auto">
    <h3 class="header-brand">Chavyv.Akvar</h3>
    <nav class="nav nav-header justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="https://blog.chavyv.xyz/">Blog</a>
        <a class="nav-link" href="{% url 'lab_0:ppw' %}">PPW</a>
    </nav>
</header>