{% extends 'layouts/base.html' %}

{% block body %}

<div class="card card-body text-left mx-auto my-5" style="width: 20rem;">
    <h3>Nama Matkul:</h3>
    <p>{{ matkul.nama }}</p>
    <h3>Dosen:</h3>
    <p>{{ matkul.dosen }}</p>
    <h3>SKS:</h3>
    <p>{{ matkul.sks }}</p>
    <h3>Deskripsi:</h3>
    <p>{{ matkul.deskripsi }}</p>
    <h3>Semester:</h3>
    <p>{{ matkul.semester}}</p>
    <h3>Ruangan:</h3>
    <p>{{ matkul.ruang }}</p>
    <a href="{% url 'lab_5:matkul' %}" class="text-white btn btn-primary">Kembali</a>
</div>

{% endblock %}