{% extends 'layouts/base.html' %} 

{% load crispy_forms_tags %} 

{% block body %}

<h3 class="my-5">Input Matkul Form</h3>
<div class="text-left">
  <form action="" method="post">
    {% csrf_token %} 
    {{ form|crispy }}
    <input type="submit" value="Submit" class="btn btn-primary mr-2" />
    <a href="{% url 'lab_5:matkul' %}" class="text-white btn btn-primary">Daftar Matkul</a>
  </form>
</div>

{% endblock %}
