{% extends 'layouts/base.html' %} {% block body %}

<h3 class="my-5">Daftar Matkul</h3>
<div class="text-left" style="overflow-x: overlay;">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Nama</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for matkul in all_matkul %}
      <tr>
        <td>{{ matkul.nama }}</td>
        <td>
            <a href="/lab_5/detail/{{ matkul.id }}" class="btn btn-primary mr-2">Detail</a>
            <a href="/lab_5/delete/{{ matkul.id }}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'lab_5:index' %}" class="text-white btn btn-primary">Input Matkul</a>
</div>

{% endblock %}
