{% extends 'layouts/base.html' %}

{% block body %}

<h3 class="my-5">Link for:</h3>
<p></p><a href="https://gitlab.com/akbar2habibullah/ppw-chavyv-static">Gitlab repository</a></p>
<p><a href="https://ppw-chavyv-static.vercel.app/">Live demo</a></p>

{% endblock %}